<div class="d-flex justify-content-between align-items-center shadow position-fixed bottom-0 end-0 start-0 shadow-lg p-3 bg-white ">
    <h5>Total items in your cart : <%= @items.length %> </h5>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">
        Place Order and Pay
    </button>
</div>
 <%= render 'orders/confirmation_modal'%>